html {
    background: #cecece;
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    color: #00cccc;
}

.navbar {
    filter:drop-shadow(2px 2px 5px);  
}

.navbar-brand {
    font-size: 4vw !important;
    background: #00cccc !important;
    color: white !important;
    padding: 20px;
}

.container {
    background: #cecece;
    margin: 0px;
    padding: 0px;
}
.region {
    padding: 20px;
    margin-top: 100px;
}

.summary, .comparison, .data {
    min-height: 200px;
    background: white;
    overflow: auto;
    filter:drop-shadow(2px 2px 5px);
    padding: 20px;
}

.card-img {
    height: ;
    float: left;
}

h1 {
    color: #00cccc;
}

.separator {
    height: 6px;
    background: #00cccc;
}

.visualizations {
    min-height: 200px;
    background: white;
    overflow: auto;
    filter:drop-shadow(2px 2px 5px);
    padding: 20px;
}

.visualizations img {
    width: 100%;
}

@media (max-width: 991px) {
    .visualizations a {
        width: 25%;
    }
    
}
.visualizations img:hover {
    background: #00cccc;
}

.visualizations .container {
    padding: 0px;
}

footer {
    background: grey;
    color: white;
    height: 100px;
}